{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <br>
    <div class = "text-center">
        <h3>Welcome to the game Zone</h3>
        <hr>

        
        <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/p5.jpg' %}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Persona 5</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

        </div>
    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/hollow.jpg' %}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Hollow knight</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>





      
    </div>



{% endblock %}


